<div>
  Series:
  <div class="select-wrapper">
    <select onchange="seriesSelected(this)">
      <option>All</option>
      {% for series in site.data.amiibo.series %}
        <option>{{ series }}</option>
      {% endfor %}      
    </select>
  </div>
  Search:
  <input type="text" class="search"/>
</div>

<div class="spacer"></div>

<table id="amiibo-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Series</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody class="list">
    {% for amiibo in site.data.amiibo.units %}
      <tr>
        <td class="name"><strong>{{ amiibo.name }}</strong></td>
        <td class="series">{{ amiibo.series }}</td>
        <td class="notes"><em>{{ amiibo.notes }}</em></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var amiiboTable = new List('amiibo-table', {
    valueNames: ['name', 'series', 'notes']
  });
  
  function seriesSelected(select) {
    if (select.value == 'All') {
      amiiboTable.filter();
    } else {
      amiiboTable.filter(function(item) {
        return item.values().series == select.value;
      });
    }
  }
</script>
