<div>
  Series:
  <div class="select-wrapper">
    <select onchange="seriesSelected()">
      <option>All</option>
      <option>Test 2</option>
      <option>Test 3</option>
      <option>Test 4</option>
      <option>Test 5</option>
      <option>Test 6</option>
    </select>
  </div>
</div>

<div class="spacer"></div>

<table class="amiibo-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Series</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for amiibo in site.data.amiibo.units %}
      <tr>
        <td class="name"><strong>{{ amiibo.name }}</strong></td>
        <td class="series">{{ amiibo.series }}</td>
        <td class="notes"><em>{{ amiibo.notes }}</em></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var userList = new List('amiibo-table', {
    valueNames: ['name', 'series', 'notes']
  });
  
  function seriesSelected() {
    console.log('BOOM');
  }
</script>
