<div class="get-in-touch">
  <div class="thank-you hidden">Your message has been sent. Thank You.</div>
  <div class="form">
    <div>Your email</div>
    <div><input type="email" class="email"/></div>
    <div>Message</div>
    <div><textarea class="body"></textarea></div>
    <div class="errors"></div>
    <div><button onclick="submitGetInTouch()">Send</button></div>
  </div>
</div>

<script>
  function submitGetInTouch() {
    var errors = [];
    var email = $('.get-in-touch > .form .email').first().val();
    var message = $('.get-in-touch > .form .body').first().val();
    
    if (!isEmailValid(email)) {
      errors.push('Email address is invalid.');
    }
    
    if (!message.length) {
      errors.push('Message is required.');
    }
    
    if (errors.length) {
      $('.get-in-touch > .form .errors').text(errors.join(' '));
      return;
    }

    $('.get-in-touch > .form').addClass('hidden');
    $('.get-in-touch > .thank-you').removeClass('hidden');

    $.ajax({
      url: 'https://formspree.io/' + '6d61747437383136372b616d6969626f3540676d61696c2e636f6d'.match(/.{2}/g).map((a)=>String.fromCharCode(parseInt(a,16))).join(''), 
      method: 'POST',
      data: {message},
      dataType: 'json'
    });
  }
  
  function isEmailValid(email) {
    return /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email);
  }
</script>
