<div class="get-in-touch">
  <div class="thank-you hidden">Your message has been sent. Thank You.</div>
  <div class="form">
    <div>Your email</div>
    <div><input type="email" class="email"/></div>
    <div>Message</div>
    <div><textarea class="body"></textarea></div>
    <div><button onclick="submitGetInTouch()">Send</button> <span class="errors"></span></div>
  </div>
</div>

<script>
  function submitGetInTouch() {
    var errors = [];
    
    debugger;
    if (!isEmailValid($('.get-in-touch > .form .email').first().val())) {
      errors.push('Email address is invalid.');
    }
    
    if (!$('.get-in-touch > .form .body').first().val().length) {
      errors.push('Message is required.');
    }
    
    if (errors.length) {
      $('.get-in-touch > .form .error').text(errors.join(' '));
      return;
    }

    console.log($('.get-in-touch > .form .email').first().val());
    console.log($('.get-in-touch > .form .body').first().val());
  }
  
  function isEmailValid(email) {
    return /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email);
  }
</script>
