---
---

@import "{{ site.theme }}";

ul li {
  padding-left: 0;
  margin-left: 20px;
}

th, td {
  padding: 0 5px;
}

table, th, td {
  border: 1px solid #ccc;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper:before {
    content: '\f0d7';
    font-family: FontAwesome;
    color: #6d6d6d;
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 2px;
    pointer-events: none;
}

select {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 0px;
  padding: 3px 20px 3px 5px;
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: 300;
  color: #6d6d6d;
}

select:focus { 
  outline: none;
}
